Source: rebuildfstab
Section: utils
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: rebuildfstab
Architecture: all
Depends: scanpartitions, su-me
Conflicts: rebuildfstab-kanotix
Recommends: xterm | x-terminal-emulator
Description: fstab-rebuilder for sidux
 rebuildfstab uses scanpartitions-kanotix to rebuild all harddisk entries
 in /etc/fstab, for automatic integration of USB storage devices and similar.
