Source: rebuildfstab
Section: utils
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kel@otaku42.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: rebuildfstab
Architecture: all
Depends: dash, e2fsprogs, procps, su-me, udev
Conflicts: scanpartitions
Description: fstab and mountpoint generator
 rebuildfstab uses scanpartitions to rebuild all harddisk entries
 in /etc/fstab and create mountpoints.
 .
 scanpartitions reads /proc/partitions and tries to guess
 the filesystem on each partition for automatic /etc/fstab
 generation.
