Source: rebuildfstab-kanotix
Section: utils
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), build-essential, debhelper (>= 4.1.0)
Standards-Version: 3.6.2

Package: rebuildfstab-kanotix
Architecture: all
Depends: scanpartitions-kanotix, rxvt
Provides: rebuildfstab-knoppix
Replaces: rebuildfstab-knoppix
Description: fstab-rebuilder for KANOTIX
 rebuildfstab uses scanpartitions-kanotix to rebuild all harddisk entries
 in /etc/fstab, for automatic integration of USB storage devices and similar.
